.body {
    background: #010101;
}

.header {
    background: #161B22;
    float: left;
    height: 12%;
    width: 100%;
}

.link {
    text-decoration: none;
    color: #F0F6B3;
    font-size: 15pt;
}

.link:visited {
    text-decoration: none;
    color: #F0F6B3;
}

.link:active {
    text-decoration: none;
    color: #F0F6B3;
}

.link:hover {
    text-decoration: none;
    color: #AFB5BB;
}

.logo {
    padding-left: 2%;
    padding-top: 1%;
    float: left;
}

.rating {
    padding-left: 2%;
    padding-top: 2%;
    float: left;
}

.productions {
    padding-left: 2%;
    padding-top: 2%;
    float: left;
}

.stock_exchange {
    padding-left: 2%;
    padding-top: 2%;
    float: left;
}

.sign_in {
    padding-left: 50%;
    padding-right: 2%;
    padding-top: 2%;
    float: left;
}

.sign_up {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    float: left;
}

.profile {
    padding-left: 50%;
    padding-right: 2%;
    padding-top: 2%;
    float: left;
}
