<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <link rel="stylesheet" href="static/style.css">
      <title>Control</title>
   </head>
   <body>
      <div class="body" id='app'>

        <div class="header">
          <div class="header-panel">
            <div class="header-title">
              <div class="header-icon">
                <i class="fas fa-align-right"></i>
              </div>
              <h1 class="header-game">Control</h1>
            </div>
            <div v-if="info.user.authorized">
              <button v-on:click="move('profile')">{{ info.user.nickname }}</button>
            </div>
            <div v-else>
              <button v-on:click="move('profile')">Login</button>
            </div>
          </div>
        </div>

        <div class="navigation">
          <div class="navigation-panel">
            <div class="navigation-buttons">
              <li><button v-on:click="move('menu')">Menu</button></li>
              <li><button v-on:click="move('rating')">Rating</button></li>
              <li><button v-on:click="move('productions')">Productions</button></li>
              <li><button v-on:click="move('stock_exchange')">Stock exchange</button></li>
              <li><button v-on:click="move('bets')">Bets</button></li>
              <li><button v-on:click="move('rules')">Rules</button></li>
            </div>
            <h3 class="navigation-panel-author">Made by WELC0.ME</h3>
          </div>
        </div>

        <div class="content">
          <div class="content-space">
            <div class="content-show" v-if="info.data.accepted == 1">
              <div v-if="getLocation('menu')">
                <p> MENU </p>
              </div>
              <div v-else-if="getLocation('rating')">

                <ul>
                  <li v-for="(user, index) in info.data.data">
                    {{ index + 1 }}: {{ user.nickname }}  -  {{ user.resources.coin }} coins
                  </li>
                </ul>

              </div>
              <div v-else-if="getLocation('productions')">

                <ul>
                  <li v-for="(production, index) in info.data.data">
                    {{ index + 1 }}: {{ production }}
                    <div v-if="info.user.authorized">
                      <button v-on:click="sendData(index + 1, 'start_production')">Start</button>
                      <button v-on:click="sendData(index + 1, 'promote_production')">Promote</button>
                    </div>
                  </li>
                </ul>

              </div>
              <div v-else-if="getLocation('stock_exchange')">
                <div v-if="info.user.authorized">
                  resource 1
                  <select ref="input_resource">
                    <option v-for="resource in resources">{{ resource }}</option>
                  </select>
                  <input type="text" placeholder="number" ref="input_number">

                  resource 2
                  <select ref="output_resource">
                    <option v-for="resource in resources">{{ resource }}</option>
                  </select>
                  <input type="text" placeholder="number" ref="output_number">

                  <button v-on:click="add">Add</button>
                </div>
                <ul>
                  <li v-for="(deal, index) in info.data.data">
                    {{ index + 1 }}: {{ deal }}
                    <div v-if="info.user.authorized">
                      <button v-on:click="accept(index + 1)">Accept</button>
                    </div>
                  </li>
                </ul>

              </div>
              <div v-else-if="getLocation('bets')">

                <ul>
                  <li v-for="(bet, index) in info.data.data">
                    {{ index + 1 }}: {{ bet.side_01 }}  -  {{ bet.side_02 }} {{ bet.coefficient}} {{ bet.time }}
                    <div v-if="info.user.authorized">
                      <input type="text" placeholder="Money" ref="bet">
                      <button v-on:click="doBet(index + 1, 1)"> Side 01</button>
                      <button v-on:click="doBet(index + 1, 2)"> Side 02</button>
                    </div>
                  </li>
                </ul>

              </div>
              <div v-else-if="getLocation('rules')">
                <p> RULES </p>
              </div>
              <div v-else-if="getLocation('profile')">
                <div v-if="info.user.authorized">

                  {{ info.user.nickname }}
                  <ul>
                    <li v-for="(resource, index) in info.user.resources">
                      {{ index }}: {{ resource }} {{ info.user.resources.resource }}
                    </li>
                  </ul>

                </div>
                <div v-else>
                  <div class="login-form">
                      <div class="login-title">Login</div>
                      <input type="text" placeholder="Enter your nickname" maxlength="16" ref="nickname">
                      <input type="password" placeholder="Enter your password" maxlength="20"ref="password">
                      <div class="login-buttons">
                        <button v-on:click="login('sign_in')">Sign in</button>
                        <button v-on:click="login('sign_up')">Sign up</button>
                      </div>
                      {{ error }}
                  </div>
                </div>
              </div>
              <div v-else>
                Not found
              </div>
            </div>
            <div class="content-loader" v-else-if="info.data.accepted == 0">
              Loader
            </div>
            <div class="content-not-found" v-else-if="info.data.accepted == -1">

            </div>
          </div>
        </div>
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://unpkg.com/vue@next"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="static/jQuery.js"></script>
      <script src="static/index.js"></script>
   </body>
</html>
