.body {
    background: #010101;
}

.header {
    background: #161B22;
    float: left;
    height: 12%;
    width: 100%;
}

.link {
    text-decoration: none;
    color: #F0F6B3;
    font-size: 15pt;
    position: relative;
}

.link:visited {
    text-decoration: none;
    color: #F0F6B3;
    position: relative;
}

.link:active {
    text-decoration: none;
    color: #F0F6B3;
    position: relative;
}

.link:hover {
    text-decoration: none;
    color: #AFB5BB;
    position: relative;
}

.logo {
    padding-left: 2%;
    padding-top: 1%;
    float: left;
    position: relative;
}

.rating {
    padding-left: 2%;
    padding-top: 2%;
    float: left;
    position: relative;
}

.productions {
    position: absolute;
    top: 1%;
    left: 40%;
}

.stock_exchange {
    padding-left: 2%;
    padding-top: 2%;
    float: left;
    position: relative;
}

.sign_in {
    padding-left: 50%;
    padding-right: 2%;
    padding-top: 2%;
    float: left;
    position: relative;
}

.sign_up {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    float: left;
    position: relative;
}

.profile {
    padding-left: 50%;
    padding-right: 2%;
    padding-top: 2%;
    float: left;
    position: relative;
}

.content {
    background: #161B22;
    height: 80%;
    width: 100%;
    position: relative;
}

.username {
    background: #010101;
    color: #F0F6B3;
    position: relative;
}

.password {
    background: #010101;
    color: #F0F6B3;
    position: relative;
}

.submit {
    background: #010101;
    color: #F0F6B3;
    position: relative;
}
